# Canonical HTTPS/non-WWW
<IfModule mod_rewrite.c>
	#redirect http non-www to https://www
	RewriteCond %{HTTPS} off
	RewriteCond %{HTTP_HOST} ^(www\.)?hetijover\.nl$
	RewriteRule (.*) https://www.hetijover.nl/$1 [R=301,L]
	#redirect https non-www to www
	RewriteCond %{HTTPS} on
	RewriteCond %{HTTP_HOST} ^hetijover\.nl$
	RewriteRule (.*) https://www.hetijover.nl/$1 [R=301,L]
</IfModule>
