.ferry-times {
  overflow: scroll;
  text-align: center;
  flex: 1;
  /* for Firefox */
  min-height: 0;
  background-color: var(--color-3);
  margin-top: 0.5em;
  font-size: 1.8em;

  // :first-child {
  //   background-color: yellow;
  //   font-size: 2em;
  // }
  // :nth-child(2) {
  //   font-size: 1.6em;
  // }
  // :nth-child(3) {
  //   font-size: 1.2em;
  // }
}
